
<app-navbar></app-navbar>
<div class="container-fluid">

  <!-- Hero Section -->
  <section class="row bg-dark text-white text-center py-5">
    <div class="col-md-12">
      <h1>Welcome to Our AB Mango Factory</h1>
      <p class="lead">Your can find all type of Mango product</p>
      <button class="btn btn-primary mt-3">Find all products</button>
    </div>
  </section>

  <!-- Services Section -->
  <section class="row text-center my-5">
    <div class="col-md-4">
      <div class="card shadow service-card">
        <div class="card-body">
          <h5 class="card-title">Mango  Juice</h5>
          <p class="card-text">We have 6 type of Mango juice avilabe!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow service-card">
        <div class="card-body">
          <h5 class="card-title">Mango Achar</h5>
          <p class="card-text">20 types of Healthy Achar you can find here..</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow service-card">
        <div class="card-body">
          <h5 class="card-title">Mango in al Zila</h5>
          <p class="card-text">In Sesional servie from use</p>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="row bg-light py-5">
    <div class="col-md-6 mx-auto text-center">
      <h2>About Us</h2>
      <p>We have all service to help you</p>
    </div>
  </section>

  <!-- Footer -->
  <footer class="row bg-dark text-white text-center py-3">
    <div class="col-md-12">
      <p>&copy; 2024 fahim. All rights reserved.</p>
    </div>
  </footer>

</div>
