<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">AB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Others
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">All Address</a></li>
                      <li><a class="dropdown-item" href="#">Order Information</a></li>
                      <li><a class="dropdown-item" href="#">Charges and Other</a></li>
                  </ul>
              </li>
          </ul>
          <!-- Login & Registration Buttons -->
          <div class="d-flex">
            <a *ngIf="!isLoggedIn" class="btn btn-success me-2" routerLink="/login">Login</a>
            <a *ngIf="!isLoggedIn" class="btn btn-primary me-2" routerLink="/register">Register</a>
            <button *ngIf="isLoggedIn" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
      </div>
  </div>
</nav>

  
  
  